/* CSS Document */
/* 通用元素
------------------------------------------*/
* { margin: 0; padding: 0; }
a img{ border: 0; }
.clear{ clear: both; }
a:visited{color:#6E6E70}
h1,h2,h3,h4,h5,h6{ font-size: 12px; }
/* links
------------------------------------------*/
a{ color: #000; text-decoration: none; }
a:hover { color: #BD282A; text-decoration: underline; }
a:active { color: #7A2123; }
*{margin:0; padding:0}

body{font-size:12px}
.loading{ color:#FF0000; text-align: center; padding:5px;}
.red{color:#FE0000}
.gray{color:#808080}
.green{color:#018000}
ul{list-style:none}
.hexunShow{display:block}
.hexunHidden{display:none}
form{margin:0; padding:0}

/* 页面大小 */
.hangqing_content{width:750px;}
/* 豆一 */
.contentNav{height:32px; line-height:32px; border-bottom:1px solid #CCCCCC}
.contentNav .navleft{ float:left;}
.contentNav .navright{ float:right;}
.dou_toptext{font-size:18px; font-weight:bold; color:#8C94A7; height:24px;  margin-top:20px; text-align:center}
.dou_topbg{background:url(http://quote.hexun.com/img/hq10.gif) repeat-x left bottom; height:20px; margin-top:20px; text-align:right; color:#676767; padding-bottom:3px;}
.dou_topbg .topleft{height:20px; float:left;}
.dou_topbg .topright{height:20px; float:right; }
.dou_topbg2{background:url(../img/hq15.gif) repeat-x left bottom; height:31px; line-height:31px; margin-top:10px}
.dou_topbg2 .pic{background:url(../img/hq16.gif) no-repeat 25px 9px; padding-left:42px}
.dou_table{margin-top:3px}
.dou_table td{height:27px; line-height:15px; text-align:center; border-right:1px dotted #ccc; border-bottom:1px solid #ccc}
.dou_table .toptd{background:url(../img/hq12.gif) no-repeat right bottom; padding-right:1px; border-right:none}
.dou_table .toptdend{background:url(../img/hq14.gif) repeat-x bottom; border-right:none}
.dou_table .tdend{border-right:none }
.time{border-bottom:1px solid #ccc; line-height:27px; color:#676767}
.pageborder{border-top:1px dotted #ccc; height:73px; margin-top:27px; padding-top:27px; padding-left:340px}
.pageborder .list{border:1px solid #ccc;float:left; margin-left:5px; width:50px; line-height:21px;text-align:center}
.pageborder .box{float:left; width:110px; line-height:21px; margin-left:5px}
.pageborder .list2{ float:left; margin-left:5px; width:50px; line-height:21px;text-align:center}
.pageborder .btn{background:none; border:1px solid #ccc; width:45px; cursor:pointer}
/* 外汇 */
.hldhq{width:315px; height:93px; border:1px solid #ccc; float:left; margin-top:18px}
.cjrl{width:205px; height:93px; border:1px solid #ccc; float:left; margin-top:18px;margin-left:8px}
   .wh_tit{background-color:#F0F0F0; border-bottom:1px solid #ccc; height:24px; line-height:24px; padding-left:8px}
   .wh_cnt{padding-top:14px; padding-left:8px}
.whhl{width:368px; float:left;margin-top:19px}
.whzx{width:368px; float:left; margin-left:10px;  margin-top:19px; }
   .wh_tit2{background:url(../img/hq15.gif) repeat-x; height:31px}
       .wh_tit2 .left{background:url(../img/hq16.gif) no-repeat 8px 8px; height:31px; line-height:31px; padding-left:25px; float:left}
       .wh_tit2 .right{float:right;height:31px; line-height:31px; padding-right:10px}
       .wh_tit2 .right a{background:url(../img/hq17.gif) no-repeat 0 3px; padding-left:12px}
       .wh_tit2 .right a:link,.wh_tit2 .right a:visited{color:#2152AF}.wh_tit2 .right a:hover{color:#990000; text-decoration:underline}
   .wh_cntlist{border:1px solid #8C95A6; border-top:none; padding:8px 12px}
       .wh_cntlist li{height:21px; line-height:21px; overflow:hidden; background:url(../img/hq18.gif) no-repeat 0 8px; padding-left:10px; vertical-align:bottom}
       .wh_cntlist li span{float:right; color:#666666; padding-left:20px}
			 
.bottombar {border-bottom:1px solid #ccc; line-height:27px; color:#676767}
.bottombar .bottomleft{float:left;}
.bottombar .bottomright{float:right;}
/* 香港 */
#hk_partA{ width:750px; padding-bottom:15px}
#hk_partA .hk_left{float:left; width:232px;  border:1px solid #ccc; margin-right:24px; overflow:hidden; margin-top:10px}
#hk_partA .hk_right{float:right; width:365px; border:1px solid #ccc; margin-left:0px; overflow:hidden; margin-top:10px}
#hk_partA .nav{height:24px; line-height:24px; border-bottom:1px solid #ccc; background-color:#F0F0F0; padding-left:17px}
#hk_partA .nav .left{float:left;}
#hk_partA .nav .right{float:right; padding-right:20px}
#hk_partA .box{padding:5px 0 5px 5px}
#hk_partA .box .text{height:14px; padding-top:8px}
#hk_partB{height:660px; }
#hk_partB .nav{background:url(../img/hq23.gif) repeat-x; height:54px}
#hk_partB .nav .dotBg{background:url(../img/hq16.gif) no-repeat 24px 8px; height:28px; line-height:28px; padding-left:40px}
#hk_partB .nav .box{background:url(../img/hq24.gif) no-repeat; height:26px; margin-left:15px; padding-left:1px}
#hk_partB .nav .on{cursor:pointer; background:url(../img/hq25_on.gif) no-repeat; width:96px; height:20px; text-align:center; padding-top:6px; float:left}
#hk_partB .nav .out{cursor:pointer; background:url(../img/hq25_out.gif) no-repeat; width:96px; height:20px; text-align:center; padding-top:6px; float:left}
/* 股票 */
#stock_partA{ padding-bottom:10px;}
#stock_partA .partA_left{float:left; width:495px; margin-top:10px}
#stock_partA .partA_right{float:right; width:243px; border:1px solid #ccc; margin-top:10px; height:191px;}
#stock_partA .partA_right .link{ text-align:center; padding-top:6px;font-weight:bold;}
#stock_partA .stock_left{float:left; width:240px; border:1px solid #ccc; height:191px;}
#stock_partA .mLeft{margin-left:10px}
#stock_partA .stock_nav{height:24px; line-height:24px; border-bottom:1px solid #ccc; background-color:#F0F0F0; padding-left:17px; padding-left:10px}
#stock_partA .stock_box{height:140px; padding:5px 0 5px 10px}
#stock_partA .stock_box .img{ padding-top:10px; padding-bottom:5px;}
#stock_partA .stock_box .text{height:24px; padding-top:8px; overflow:hidden}
#stock_partB{height:345px}
#stock_partB .nav{background:url(../img/hq23.gif) repeat-x; height:54px}
#stock_partB .nav .dotBg{background:url(../img/hq16.gif) no-repeat 24px 8px; height:28px; line-height:28px; padding-left:40px}
#stock_partB .nav .box{background:url(../img/hq24.gif) no-repeat; height:26px; margin-left:15px; padding-left:1px}
#stock_partB .nav .on{background:url(../img/hq25_on.gif) no-repeat; width:96px; height:20px; text-align:center; padding-top:6px; float:left; cursor: pointer}
#stock_partB .nav .out{background:url(../img/hq25_out.gif) no-repeat; width:96px; height:20px; text-align:center; padding-top:6px; float:left; cursor: pointer}
#stock_partC{height:95px}
#stock_partC table{background-color:#ccc}
#stock_partC table td{padding-left:10px;}
#stock_partC select{width:160px; font-size:12px}
#stock_partC .cx{width:35px; height:20px; background:url(../img/hq27.gif); border:none; ; cursor:pointer; margin-left:20px}
#stock_partC .cxqb{width:80px; height:20px; background:url(../img/hq28.gif); border:none; margin-top:15px; margin-left:15px; cursor:pointer}
#stock_partD{height:240px}
#stock_partD .fLeft{float:left; width:241px}
#stock_partD .nav{background:url(../img/hq15.gif) repeat-x; height:31px; line-height:31px}
#stock_partD .nav .dotBg{background:url(../img/hq16.gif) no-repeat 20px 8px; padding-left:35px} 
#stock_partD .box{height:170px; border:1px solid #8C95A6; border-top:none; padding-left:30px; padding-top:10px}
#stock_partD li{float:left; height:21px; line-height:21px; background:url(../img/hq18.gif) no-repeat 0 6px; width:90px; overflow:hidden; padding-left:10px}
#stock_partD .mLeft{margin-left:12px}
/* 我的自选 */
#zx_partA{height:330px; border-bottom:1px solid #ccc; margin-top:22px}
#zx_partA .nav{background:url(../img/hq29.gif) repeat-x; height:26px}
#zx_partA .nav .dotBg{background:url(../img/hq16.gif) no-repeat 24px 8px; height:28px; line-height:28px; padding-left:40px}
#zx_partA .nav .box{background:url(../img/hq24.gif) no-repeat; height:26px; margin-left:15px; padding-left:1px}
#zx_partA .nav .on{background:url(../img/hq25_on.gif) no-repeat; width:96px; height:20px; text-align:center; padding-top:6px; float:left}
#zx_partA .nav .out{background:url(../img/hq25_out.gif) no-repeat; width:96px; height:20px; text-align:center; padding-top:6px; float:left}
#zx_partB{padding-top:22px}
#BondPricePage {
	width:750px;
	overflow:scroll;
	overflow-y:hidden;
}

.hx_h_data{display:none}
span.nobg 
{
margin:0px;
background: none;
padding: 3px 25px 0 0px;
float: right;
}