/* CSS Document */

/* CSS Document */
/* 通用元素
------------------------------------------*/
* { margin: 0; padding: 0; }
a img{ border: 0; }
.clear{ clear: both; }
a:visited{color:#6E6E70}
h1,h2,h3,h4,h5,h6{ font-size: 12px; }
/* links
------------------------------------------*/
a{ color: #000; text-decoration: none; }
a:hover { color: #BD282A; text-decoration: underline; }
a:active { color: #7A2123; }
*{margin:0; padding:0}

body{font-size:12px}
.wrapper{width:960px; margin:auto}
.loading{ color:#FF0000; text-align: center; padding:5px;}
.red{color:#FE0000}
.gray{color:#808080}
.green{color:#018000}
ul{list-style:none}
.hexunShow{display:block}
.hexunHidden{display:none}
a.white:link,a.white:visited{color:#fff}
a.black:link,a.black:visited{color:#000}
/* 外边框 */
.out_border{border:1px solid #999999; width:958px; margin:0 auto; background:url(../img/hq01.gif) repeat-y 172px 0}

/* 左列 */
.boxLeft{width:172px; float:left}
.boxLeft a:link,.boxLeft a:visited,.boxLeft a:hover{display:block; height:20px;text-decoration:none;}
.boxLeft h2,.boxLeft h3,.boxLeft h4{font-weight:normal;height:22px; line-height:22px; font-size:12px; margin-bottom:1px; cursor:pointer}
.boxLeft h2{background:#778A98 url(../img/hq05.gif) no-repeat 11px 6px; padding-left:22px; color:#fff; }
.boxLeft h3{background:#DBE2E8 url(../img/hq08.gif) no-repeat 21px 6px; padding-left:22px; padding-left:33px; color:#000}
.boxLeft h4{height:22px; line-height:22px; background-color:#F0F4F7; padding-left:45px; margin-bottom:1px;}
.boxLeft li{height:22px; line-height:22px; background-color:#F0F4F7; padding-left:40px; margin-bottom:1px; position:relative; }
.boxLeft .thirdNav_s li{height:22px; line-height:22px; background-color:#F0F4F7; padding-left:10px; margin-bottom:1px; position:relative; }
.boxLeft .thirdNav_s li a,
.boxLeft .thirdNav_s li a:hover,
.boxLeft .thirdNav_s li a:link,
.boxLeft .thirdNav_s li a:visited 
{ display: inline; }
.boxLeft .thirdNav_h{background-color:#F0F4F7; position:absolute; left:172px; top:0; width:180px; border:1px solid #999; display:none;}
.boxLeft .thirdNav_s{background-color:#F0F4F7; position:absolute; left:172px; top:0; width:180px; border:1px solid #999; display:block;}
.boxLeft .dot{background:#F0F4F7 url(../img/hq07.gif) no-repeat left 7px}
ul.twocolumn li{ float:left; width:60px; height:22px; line-height:22px; padding-left:30px;margin-bottom:1px; position:relative; }
/* 右列 */
.boxRight{width:760px; float:left; padding-left:21px}

/* 顶部通行 */
.topline{background:url(../img/hq02.gif) repeat-x bottom; height:5px; width:958px; float:left}
.topline .wdzx{width:155px; height:22px; margin-left:10px; margin-top:5px; cursor:pointer; float:left}
.topline .shangzheng{width:375px;  margin-left:70px; margin-top:8px; float:left}
.topline .shenzhen{width:324px;  margin-top:8px; float:left}
.topline .index{ width:750px; margin-left:30px; float:left; height:30px}



/* 基金 */
.pageborder{border-top:1px dotted #ccc; height:73px; margin-top:27px; padding-top:27px; padding-left:340px}
.pageborder .list{border:1px solid #ccc;float:left; margin-left:5px; width:50px; line-height:21px;text-align:center}
.pageborder .box{float:left; width:105px; line-height:21px; margin-left:5px}
.pageborder .list2{ float:left; margin-left:5px; width:50px; line-height:21px;text-align:center}
.pageborder .btn{background:none; border:1px solid #ccc; width:45px; cursor:pointer}
.boxall{ width:750px; margin:auto}
.fundpic{ width:573px; height:216px; border:1px solid #CCC; float:left;}
.fundmenu1{ height:20px; background:#fff; width:190px; text-align:center; float:left;padding-top:5px;}
.fundmenu2{ height:19px; background:#fff; width:190px; text-align:center; border-bottom:1px solid #ccc;border-left:1px solid #ccc; float:left; background:#F0F0F0; padding-top:5px;}
.funddoor{
	background-image: url(../img/img001.gif);
	background-repeat: no-repeat;
	height: 210px;
	float:left; width:98px;
	margin-left:9px;
	padding:5px 0 0 65px;
	line-height:35px;
}
.funddoor p{ margin:0; padding:0;}
.dou_topbg{background:url(../img/hq10.gif) repeat-x left bottom; height:20px; margin-top:20px}
.dou_table td{height:27px; line-height:27px; text-align:center; border-right:1px dotted #ccc; border-bottom:1px solid #ccc}
.dou_table .toptd{background:url(../img/hq12.gif) no-repeat right bottom; padding-right:1px; border-right:none}
.dou_table .toptdend{background:url(../img/hq14.gif) repeat-x bottom; border-right:none}
.dou_table .tdend{border-right:none }
.time{border-bottom:1px solid #ccc; line-height:27px; color:#676767}
.dou_topbg2{background:url(../img/hq15.gif) repeat-x left bottom; height:31px; line-height:31px; margin-top:10px}
.dou_topbg2 .pic{background:url(../img/hq16.gif) no-repeat 25px 9px; padding-left:42px}
.dou_topbg2  span{
	float:right;
	background-image: url(../img/img010.gif);
	background-repeat: no-repeat;
	background-position: 0px 13px;
	padding:0 10px 0 13px;
}
.dou_topbg2a{
	height:28px;
	line-height:28px;
	margin-top:10px;
	background-image: url(../img/img016.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.dou_topbg2a .pic{background:url(../img/hq16.gif) no-repeat 25px 9px; padding-left:42px}

.fundbox{ border:1px solid #ccc; background:#ECF4F7; width:738px; height:61px; margin-top:15px; padding:5px 0 0 10px;}
.dou_table .fundtable{
	background-image: url(../img/img013.gif);
	background-repeat: no-repeat;
	background-position: right;
	border:none;
	height:60px;
}
.dou_table .fundtb2{
	background-image: url(../img/img014.gif);
	background-repeat: no-repeat;
	background-position: right;
	border:none;
	border-bottom:1px solid #000;
}
.dou_table .fundtb3{
	background-image: url(../img/img015.gif);
	background-repeat: no-repeat;
	background-position: right bottom;border:none;
}
.clear{ clear:both;}
.input1{ width:120px;}
.input2{ width:200px;}
.input3{ font-size:12px;}
.inputtxt { padding-top:1px; height:16px; line-height:16px; font-size:12px;}
/* 黄金 */
.goldbox{ width:241px; height:180px; border:1px solid #ccc; margin-right:9px; margin-top:10px; float:left;}
.goldpic{ height:21px; border-bottom:1px solid #ccc; background:#F0F0F0; padding:3px 0 0 8px;}
.goldmenu{
	background-image: url(../img/img012.gif);
	background-repeat: repeat-x;
	height: 26px;
	padding-right:15px;
	border-left:1px solid #8C95A6;
}
.goldmenu1{ cursor:pointer; background:#fff; height:19px; text-align:center; border-left:none;border-top:2px solid #8C95A6; border-right:1px solid #8C95A6; padding:5px 14px 0 14px; float:left;}
.goldmenu2{ cursor:pointer; background:#ECF4F7; height:17px; text-align:center; border-left:none; border-right:1px solid #8C95A6; border-top:1px solid #8C95A6; padding:5px 14px 0 14px; float:left; border-bottom:3px solid #8C95A6}
.goldbox2{ width:368px; float:left;}
.goldtext li span{ float:right; color:#666; font-size:12px;margin-right:15px;}

.goldtext{ float:left; margin:0; width:356px; padding:5px 0 0 10px; border-right:1px solid #8C95A6; border-bottom:1px solid #8C95A6; border-left:1px solid #8C95A6; }
.goldtext ul { padding:0; margin:0; list-style:none;
}
.goldtext li{
	background-repeat: no-repeat;
	padding-left:12px;
	font-size:12px;
	line-height:22px;
	background-position: 0px 9px;
	background-image: url(../img/img011.gif);
}

/* 债券 */
.bondbox2{ width:241px; height:220px; border:1px solid #ccc; margin-right:9px;margin-top:10px; float:left;}
.bondbox{ width:242px; float:left; margin-right:10px;}
.bondmenu1{ background:#fff; height:19px; text-align:center; border-top:2px solid #8C95A6; border-right:1px solid #8C95A6; padding:5px 6px 0 6px; float:left;}
.bondmenu2{ background:#ECF4F7; height:17px; text-align:center; border-right:1px solid #8C95A6; border-top:1px solid #8C95A6; padding:5px 6px 0 6px; float:left; border-bottom:3px solid #8C95A6}
.imgPad{padding-top:10px; text-align:center}
.singlename {height:27px; line-height:27px; text-align:center; border-bottom:1px solid #ccc}

.AHtime{border-bottom:1px solid #ccc; height:27px; color:#676767}
.AHtime .AHleft{ float:left; line-height:27px;}
.AHtime .AHright{ float:right; line-height:27px;}

/* 全球股市 */
.globalleft{float:left;width:370px}
.globalright{float:right;width:370px}
.globalnav{line-height:32px; height:32px}
.bottomLine {
	border-bottom:1px solid #AEAEAE;
	height:25px;
	line-height:25px
}
.bottomLine1 td {
	border-bottom:1px solid #E4E4E4;
	height:25px;
	line-height:25px;
	text-align:right;
	color:#666
}
.bottomLine2 td {
	border-bottom:1px solid #E4E4E4;
	height:25px;
	line-height:25px;
	text-align:right;
	color:#000;
}
td.bottomLeft {
	text-align:left;
	padding-left:5px;
	width:74px
}
td.bottomLeft div {
	overflow:hidden;
	width:74px;
	height:20px;
	line-height:20px
}