/* header */
.header2008{ width: 960px; margin: 0 auto; }
.header2008 *{ padding: 0; margin: 0; list-style: none; color: #000; font-size: 12px; }
.header2008 a:link{ text-decoration: none; color:#000 }
.header2008 a:visited{ text-decoration: none; color:#000 }
.header2008 a:hover{ text-decoration: underline; color:#900;}
.header2008 .gg{ margin: 0 0 6px 0; }
.header2008 .gg img{ display: block; }
.header2008 #navetc{ border-bottom: 2px solid #000; float: left; }
.header2008 #hexunNav{ float: left; border: solid #CCC; border-width:1px 1px 0px 1px; margin: 0 0 -1px 0; border-collapse: collapse; }
.header2008 #hexunNav td{ border-top: 1px solid #CCC; padding:0 5px 0 5px; background: url(http://img.hexun.com/images2008/bg-nav2007.gif) 100% 6px  no-repeat; text-align: center; line-height: 25px; height: 25px; }
.header2008 #hexunNav .noborder{ background: none; }
.header2008 .login{ width: 103px; border: 1px solid #AACCEF; float: right; background: #E7F6FD; color: #144E7E; line-height: 24px; text-align: center; height: 24px; }
.header2008 .login li{ float: left; width: 53px; color: #144E7E; text-align: center; overflow: hidden; height: 24px; }
.header2008 .login .logout{ width: 103px; }
.header2008 .login .username{ width: 55px; float: left; text-align: right; height: 20px; overflow: hidden; }
.header2008 .login li a{ padding: 0 3px; color: #144E7E; }
.header2008 #enterhexun{ float: right; width: 103px; text-align: center; line-height: 26px; }
.header2008 #enterhexun a{ color: #656565; }
.header2008 #logoetc{ float: left; padding: 21px 0 4px 0; }
.header2008 .logo{ float: left; }
.header2008 .date{ float: left; padding: 14px 0px 0px 12px; color: #666; line-height: 17px; }
.header2008 #logoetc dl{ float: right; padding: 9px 0 0 0; }
.header2008 #logoetc dt{ float: left; margin: 0 0 0 5px; display: inline; }
.header2008 #logoetc dt input{ margin: 0 1px 0 3px; position: relative; top: 2px; }
.header2008 #logoetc dd{ float: left; margin-top:-1px; }
.header2008 #logoetc dd .inputtxt{ width: 190px; border: 1px solid #B4B4B4; margin: 2px 0px 0px 15px; float: left; line-height: 19px; height: 19px; }
.header2008 #logoetc dd .inputbtn{ width: 73px; border: 1px solid #999; margin: 2px 0px 0px 6px; float: left; background: #EFEFEF; line-height: 19px; height: 21px; cursor: pointer; padding:0px 0px 0px 0px; }
.header2008 #secnav{ width: 958px; border: 1px solid #999; float: left; margin: 0 -3px 0 0; line-height: 26px; text-align: left; text-indent: 5px; height: 26px; }
.header2008 #secnav a{padding:0 1px 0 2px; }
/* footer */
#footer{ width: 100%; padding: 0px; margin: 10px 0px 0px 0px; color: #000000; text-align: center; }
#footer *{ padding: 0; margin: 0; font-size: 12px; }
#footer li{ display: inline; color: #000; }
#footer a{ color: #000; text-decoration: none; }
#footer a:hover{ text-decoration: underline; }
#footer .link{ border-bottom: 1px solid #000; padding-bottom: 3px; }
#footer .copyright{ padding-top: 6px; font-family: Arial, Helvetica, sans-serif; line-height: 1.7em; }
